{%extends 'JSONConfigurer.html' %}

{%block content%}

<div class="masthead bg-primary text-white text-center">
    <h1 class="masthead-heading text-uppercase mb-0">Upload</h1>
</div>

<div class="container d-flex align-items-center flex-column">
  <div class="container d-flex align-items-center flex-column mt-3r">

    {% if request.user.is_staff %}
    <form method="POST" enctype="multipart/form-data">{% csrf_token %}
        <input type="file" name="file" />
        <input type="submit" name="submit" value="Upload" />
      </form>
    {% else %}
    <p>
      Sorry, this area is accessible only for staff
    </p>
    {% endif %}
  </div>
</div>

{%endblock content%}
