{%extends 'JSONConfigurer.html' %}

{%block content%}

<div class="masthead bg-primary text-white text-center">
    <h1 class="masthead-heading text-uppercase mb-0">Elimina</h1>
</div>

<div class="container d-flex align-items-center flex-column">
  <div class="container d-flex align-items-center flex-column mt-3r">

    <form method="POST">{% csrf_token %}
      <input type="submit" name="delete" value="Yes" />
      <input type="submit" name="delete" value="No" />
    </form>

  </div>
</div>

{%endblock content%}
