{%extends 'JSONConfigurer.html' %}

{%block content%}

<div class="masthead bg-primary text-white text-center">
    <h1 class="masthead-heading text-uppercase mb-0">Configurazioni</h1>
</div>

<div class="container d-flex align-items-center flex-column">

  <div class="container d-flex align-items-center flex-column mt-3r">

    {% if request.user.is_staff %}
      <a class="m-4" href="{% url 'JSONConfigurer:create-configuration' %}">
        <button class="btn btn-primary btn-xl">Crea</button>
      </a>
    {% endif %}

    <div class="divider-custom mt-4">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-line"></div>
    </div>

    {% for configuration in data %}
      <a href="{{configuration.get_absolute_url}}">
        <h4 >
          {{configuration.note}}
        </h4>
      </a>

      <div class="divider-custom mt-4">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-line"></div>
      </div>

    {% endfor%}
  </div>
</div>

{%endblock content%}
