{%extends 'JSONConfigurer.html' %}

{%block content%}


<div class="masthead bg-primary text-white text-center">
    <h1 class="masthead-heading text-uppercase mb-0">Mission</h1>
</div>


<div class="container d-flex align-items-center flex-column">
  <div class="container d-flex align-items-center flex-column mt-3r">

    <form method="POST">
      {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-xl mt-4" name="download" value="Download">
          <i class="fas fa-download fa-2x"></i></br>
          Download
        </button>
    </form>

    <div class="divider-custom mt-4">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-line"></div>
    </div>

    <form method="POST">{% csrf_token %}
      {{mission.as_p}}
      {% if request.user.is_staff %}
        <input type="submit" name="submit" value="Save">
        <input type="submit" name="submit" value="Delete"/>
      {% endif %}
      </form>
  </div>
</div>

{%endblock content%}
