{%extends 'DashboardBase.html' %}

{% load static %}

{%block content%}

<div class="masthead bg-primary text-white text-center">
    <h1 class="masthead-heading text-uppercase mb-0">Dashboard</h1>
</div>


<div>
  <div class="container d-flex align-items-center flex-column">
    <div class="container d-flex align-items-center flex-column mt-3r">
      <a class="navbar-brand js-scroll-trigger" href="{% url 'Dashboard:real-time' %}">Real Time</a>
    </div>
  </div>
  <div class="container d-flex align-items-center flex-column">
    <div class="container d-flex align-items-center flex-column mt-3r">
      <a class="navbar-brand js-scroll-trigger" href="{% url 'Dashboard:database' %}">Database</a>
    </div>
  </div>
</div>

<!--

<div class="row justify-content-center">
<div class="col-md-6 col-lg-4">
  <a class="nav-link py-3 px-0 px-lg-3 rounded"
      href="{% url 'JSONConfigurer:list-mission' %}">
    <div class="portfolio-item mx-auto">
        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
        </div>
        <div class="text-center c1">
          <i class="fas fa-bolt fa-6x"></i>
          <h3>
            Mission
          </h3>
        </div>
    </div>
    </a>
</div>
-->

{%endblock content%}
