{%extends 'DashboardBase.html' %}

{% load static %}

{%block content%}

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.1/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/0.7.7/chartjs-plugin-zoom.js"></script>


<div class="masthead bg-primary text-white text-center">
    <h1 class="masthead-heading text-uppercase mb-0">Dashboard</h1>
</div>

<div class="container mt-4">
  {% for sensor in names %}
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4" onclick="draw_graph('{{sensor}}')">
        <div class="portfolio-item mx-auto">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
            </div>
            <div class="text-center c1">
              <h3>
                {{sensor}}
              </h3>
            </div>
        </div>
    </div>
  </div>
  {% endfor %}
</div>


<div id="Modal" class="modal">
  <div class="modal-content p-4">
    <div id="CloseModal" class="close flex-row ">
      <i class="fas fa-times fa-2x"></i>
    </div>
    <canvas id="chart"></canvas>
  </div>
</div>
















<script>

var modal = document.getElementById("Modal");
var close = document.getElementById("CloseModal");

var pollvar;

var dynamicColors = function() {
  var r = Math.floor(Math.random() * 255);
  var g = Math.floor(Math.random() * 255);
  var b = Math.floor(Math.random() * 255);
  return "rgb(" + r + "," + g + "," + b + ")";
};

var chart = null;
function draw_graph(name){
  console.log(name)

  var url = "http://127.0.0.1:8000/Dashboard/realTime/getData/" + name.replace(' ', '-');
  let data;
  let json;
  var dataset = []

  if("{{realtime}}" == "True"){
    function do_poll(){
      $.post(url, function(res) {
        data = res;
        json = JSON.parse(data.data);
        pollvar = setTimeout(do_poll, 500);
        dataset = setup_dataset(json);
        if(dataset != [] && chart != null){
          chart.data.labels = dataset[0];
          for(var i = 0; i < chart.data.datasets.length; i++){
            chart.data.datasets[i] = dataset[1][i];
          }
          chart.update('active');
        }else{
          create_graph(dataset);
        }
      });
    }
    clearTimeout(pollvar);
    do_poll()
  }else{
    data = "{{data | escapejs}}";
    json = JSON.parse(data);
  }

  if("{{realtime}}" != "True"){
    json = json[name]

    var dataset = setup_dataset(json);
    create_graph(dataset);
  }

  // Show Modal
  modal.style.display = "block";
};


function setup_dataset(json){
  var new_datasets = []

  var axis_x = json["timestamp"]
  for(var key in json){
    if(key != "timestamp" && key != "scale"){
      var color = dynamicColors();
      new_datasets.push({
        label: name + " " + key,
        data: json[key],
        fill: false,
        backgroundColor: color,
        borderColor: color,
        pointRadius: 0.1,
      })
    }
  }

  return [axis_x, new_datasets];
}


function create_graph(data){
  var $sensorChart = $("#chart");
  var ctx = $sensorChart[0].getContext("2d");

  var axis_x = data[0];
  var datasets = data[1];

  if(chart != null)
    chart.destroy()
  chart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: axis_x,
      datasets: datasets,
    },
    options: {
      scales: {
        xAxes: [{
          type: 'time',
          time: {
            parser: 'YYYY-MM-DD HH:mm:ss',
            unit: 'second',
            displayFormats: {
              'minute': 'HH:mm',
              'hour': 'HH:mm'
            }
          },
          ticks: {
            source: 'auto'
          }
        }]
      },
      pan: {
        enabled: true,
        mode: 'xy',
        speed: 1,
        sensitivity: 0.1,
        threshold: 0,
      },
      zoom: {
        enabled: true,
        drag: false,
        mode: 'xy',
        speed: 0.1,
        sensitivity: 0,
        threshold: 0,
      }
    }
  });
}

close.onclick = function() {
  modal.style.display = "none";
  clearTimeout(pollvar);
}
</script>


{%endblock content%}
