{%extends 'DashboardBase.html' %}

{% load static %}

{%block content%}


  <div id="container" style="width: 75%;">
    <canvas id="chart" data-url="{% url 'Dashboard:get-data' %}"></canvas>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>

    $(function () {

      var $populationChart = $("#chart");
      $.ajax({
        url: $populationChart.data("url"),
        success: function (data) {
          var ctx = $populationChart[0].getContext("2d");
          var new_datasets = []
          for(var i = 0; i < data.data.length; i++){
            if((data.labels[i].includes("Pedal") || data.labels[i].includes("Gyro")) && !data.labels[i].includes("timestamp")){
              var dataset = {
                label: data.labels[i],
                data: data.data[i][0],
                fill: false,
                backgroundColor: 'blue',
                borderColor: 'rgb(75, 192, 192)',
              }
              new_datasets.push(dataset)
            }
          }
          new Chart(ctx, {
            type: 'line',
            data: {
              labels: data.x,
              datasets: new_datasets
            },
            options: {
              responsive: true,
              legend: {
                position: 'top',
              },
              title: {
                display: true,
                text: 'Sensors Line Chart'
              }
            }
          });

        }
      });
    });

  </script>


{%endblock content%}
