{%extends 'DashboardBase.html' %}

{% load static %}

{%block content%}

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.1/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/0.7.7/chartjs-plugin-zoom.js"></script>


<div class="masthead bg-primary text-white text-center">
  <h1 class="masthead-heading text-uppercase mb-0">Dashboard</h1>
</div>

<div class="container mt-4">
  {% for sensor in names %}
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4" onclick="draw_graph('{{sensor}}')">
      <div class="portfolio-item mx-auto">
        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
          <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
        </div>
        <div class="text-center c1">
          <h3>
            {{sensor}}
          </h3>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>


<div id="Modal" class="modal">
  <div class="modal-content p-4">
    <div id="CloseModal" class="close flex-row ">
      <i class="fas fa-times fa-2x"></i>
    </div>
    <canvas id="chart"></canvas>
  </div>
</div>















<script>

  const socket = new WebSocket('ws://localhost:8000');

  var enableParsing = false;
  var graphName = null;

  // Chart
  var datasets = []
  var labels = [];
  var chart = null;

  var someColors = []

  socket.addEventListener('message', function (event) {
    if (enableParsing) {
      graphName = graphName.charAt(0).toLowerCase() + graphName.slice(1);
      graphName = graphName.replace(" ", "");

      var json = JSON.parse(event.data)
      var sensorData = json[graphName]

      var size = Object(sensorData).length
      var keys = [];
      if (size > 0) {
        keys = Object.keys(sensorData[0]);
      } else {
        return;
      }
      keys = keys.filter(el => el != "timestamp")

      labels = []
      datasets = []
      keys.forEach((element, i) => {
        newDataset = {
          label: element,
          data: [],
          borderColor: someColors[i],
          pointRadius: 0,
          backgroundColor: "rgba(0, 0, 0, 0.0)",
          // yAxisID: i == 0 ? "y" : "y" + i.toString(),
          yAxisID: "y"
        }
        datasets.push(newDataset)
      });

      // for each sensor object
      for (let el = 0; el < size; el++) {
        // for each sensor value of current object
        keys.forEach((element, i) => {
          datasets[i].data.push(sensorData[el][element])
        })
        labels.push(sensorData[el]["timestamp"])
      }

      if (chart == null) {
        create_graph(labels, datasets)
      } else {
        update_graph(labels, datasets)
        // create_graph(labels, datasets)
      }
    }
  });

  var dynamicColors = function () {
    var r = Math.floor(Math.random() * 255);
    var g = Math.floor(Math.random() * 255);
    var b = Math.floor(Math.random() * 255);
    return "rgb(" + r + "," + g + "," + b + ")";
  };

  for (let i = 0; i < 20; i++) {
    someColors.push(dynamicColors());
  }

  var modal = document.getElementById("Modal");
  var close = document.getElementById("CloseModal");

  function draw_graph(name) {
    // Show Modal
    modal.style.display = "block";

    // Set name and start receiving data
    graphName = name;
    enableParsing = true;

    if (chart != null) {
      chart.destroy()
      chart = null;
    }
  };

  function update_graph(labels, datasets) {
    if (chart == null)
      return

    var max_size = 1000;
    chart.data.labels.push(...labels);
    if (chart.data.labels.length > max_size) {
      chart.data.labels = chart.data.labels.slice(chart.data.labels.length - max_size, chart.data.labels.length);
    }
    for (index in chart.data.datasets) {
      chart.data.datasets[index].data.push(...datasets[index].data);

      if (chart.data.datasets[index].data.length > max_size) {
        chart.data.datasets[index].data = chart.data.datasets[index].data.slice(chart.data.datasets[index].data.length - max_size, chart.data.datasets[index].data.length);
      }
    }
    chart.update();
  }


  function create_graph(labels, datasets) {
    var $sensorChart = $("#chart");
    ctx = $sensorChart[0].getContext("2d");

    if (chart != null) {
      chart.destroy()
    }

    chart = new Chart(ctx, {
      type: 'line',
      data: {
        datasets: datasets,
        labels: labels
      },
      options: {
        animation: {
          duration: 10,
          x: true,
          y: false,
        },
        responsive: true,
        interaction: {
          mode: 'index',
          intersect: false,
        },
        stacked: false,
        plugins: {
          title: {
            display: true,
            text: 'Chart.js Line Chart - Multi Axis'
          }
        },
        scales: {
          yAxes: [
            {
              type: 'linear',
              display: true,
              position: 'left',
              id: 'y',
              ticks: {
                beginAtZero: true
              }
            },
          ]
        }
      }
    });
    for (var idx in datasets) {
      if (idx != 0)
        chart.getDatasetMeta(idx).hidden = true;
    }
  }

  close.onclick = function () {
    modal.style.display = "none";
    enableParsing = false;
    graphName = null
  }
</script>


{%endblock content%}